<div class="container">
  <h1 class="text-center">User Setting</h1>
  <div class="separator"></div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
      <div class="add-control">
        <div class="form-group has-feedback">
          <label>Username</label>
          <input type="text" class="form-control" [(ngModel)]="setting.user" placeholder="user" disabled />
          <!-- <i class="fa fa-plus form-control-feedback add-btn" title="Add item"></i> -->
        </div>
        <div class="form-group has-feedback">
          <label>First Name</label>
          <input type="text" class="form-control" [(ngModel)]="setting.firstname" (keypress)="onTypingFirstName()" placeholder="firstname"
            [disabled]="!edit" />
          <span class="red" *ngIf="error.firstname.status">{{error.firstname.msg}}</span>
          <!-- <i class="fa fa-plus form-control-feedback add-btn" title="Add item"></i> -->
        </div>
        <div class="form-group has-feedback">
          <label>Last Name</label>
          <input type="text" class="form-control" [(ngModel)]="setting.lastname" (keypress)="onTypingLastName()" placeholder="lastname"
            [disabled]="!edit" />
          <span class="red" *ngIf="error.lastname.status">{{error.lastname.msg}}</span>
          <!-- <i class="fa fa-plus form-control-feedback add-btn" title="Add item"></i> -->
        </div>
        <div class="form-group has-feedback">
          <label>Nickname</label>
          <input type="text" class="form-control" [(ngModel)]="setting.nickName" (keypress)="onTypingNickname()" placeholder="nickName"
            [disabled]="!edit" />
          <span class="red" *ngIf="error.nickName.status">{{error.nickName.msg}}</span>
          <!-- <i class="fa fa-plus form-control-feedback add-btn" title="Add item"></i> -->
        </div>
        <div class="form-group has-feedback">
          <label>Password</label>
          <input type="password" class="form-control" [(ngModel)]="setting.pwd"  (keypress)="onTypingPassword()" placeholder="password" [disabled]="!edit" />
          <span class="red" *ngIf="error.password.status">{{error.password.msg}}</span>
          <!-- <i class="fa fa-plus form-control-feedback add-btn" title="Add item"></i> -->
        </div>
        <div class="form-group has-feedback">
          <label>Mobile</label>
          <input type="text" class="form-control" [(ngModel)]="setting.tell"  (keypress)="onTypinTell()" placeholder="mobile" [disabled]="!edit" />
          <span class="red" *ngIf="error.tell.status">{{error.tell.msg}}</span>
          <!-- <i class="fa fa-plus form-control-feedback add-btn" title="Add item"></i> -->
        </div>
      </div>
      <button *ngIf="!edit" class="button" (click)="clickEdit()">Edit</button>
      <button *ngIf="edit" class="button" (click)="save()">Save</button>
      <button *ngIf="edit" class="button" (click)="cancle()">Cancle</button>

    </div>
  </div>
  <app-alert #userSettingDialog></app-alert>