<div class="col-md-3 col-xs-3">
  <h4 class="text-center">Task List</h4>

  <div
    cdkDropList
    #taskList="cdkDropList"
    [cdkDropListData]="task"
    [cdkDropListConnectedTo]="[yesterdayList,todayList,tomorrowList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box"  style="text-align:center" *ngFor="let item of task" cdkDrag>
      <div>
          {{item.taskDesc}}
      </div>
      <!-- <div>
        <mat-slider min="1" max="100" step="25" [(ngModel)]="item.value" (input)="item.value = $event.value"></mat-slider>
      </div> -->
    </div>
  </div>
</div>

<div class="col-md-3 col-xs-3">
  <h4 class="text-center">Last Day</h4>

  <div
    cdkDropList
    #yesterdayList="cdkDropList"
    [cdkDropListData]="yesterday"
    [cdkDropListConnectedTo]="[taskList,todayList,tomorrowList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" style="text-align:center" *ngFor="let item of yesterday" cdkDrag>
        <div>
            {{item.taskDesc}}
        </div>
        <div >
         
          <input type="text" style="margin-top:10px;text-align:center" (keypress)="onTyping($event)"  class="form-control" [(ngModel)]="item.taskProgress" placeholder="Progress"/>
          <!-- <mat-slider min="1" max="100" step="25" [(ngModel)]="item.value" (input)="item.value = $event.value"></mat-slider> -->
        </div>
    </div>
  </div>
</div>

<div class="col-md-3 col-xs-3">
  <h4 class="text-center">Today</h4>

  <div
    cdkDropList
    #todayList="cdkDropList"
    [cdkDropListData]="today"
    [cdkDropListConnectedTo]="[taskList,yesterdayList,tomorrowList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" style="text-align:center" *ngFor="let item of today" cdkDrag>
        <div>
            {{item.taskDesc}}
        </div>
        <div>
            <input type="text" inputmode="numeric" maxlength="3"  style="margin-top:10px;text-align:center" class="form-control" [(ngModel)]="item.taskProgress" placeholder="Progress"/>
            <!-- <mat-slider min="1" max="100" step="25" [(ngModel)]="item.value" (input)="item.value = $event.value"></mat-slider> -->
        </div>
    </div>
  </div>
</div>
<div class="col-md-3 col-xs-3">
  <h4 class="text-center">Next Day</h4>

  <div
    cdkDropList
    #tomorrowList="cdkDropList"
    [cdkDropListData]="tomorrow"
    [cdkDropListConnectedTo]="[taskList,yesterdayList,todayList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" style="text-align:center" *ngFor="let item of tomorrow" cdkDrag>
        <div>
            {{item.taskDesc}}
        </div>
    </div>
  </div>
</div>

